@import "../fonts";

$se-logo-size: 50px;

.se-navbar {
    opacity: 0.8;

    .se-heading-divider {
        margin-left: 15px;
        margin-right: 15px;
    }

    .se-app-title {
        color: #442220;
        font-family: 'Muli', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .se-nav-logo {
        background-image: url('./resources/eagle.svg');
        width: $se-logo-size;
        height: $se-logo-size;
        background-size: $se-logo-size $se-logo-size;
        background-repeat: no-repeat;
        display: block;
    }
}
